{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Facturación{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_ventas.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_facturas.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_inventario.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_usuarios.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>

