{% load static %}

<nav class="sidebar">

    <div class="sidebar-logo">
        <img src="{% static 'images/logo.jpeg' %}" alt="Logo FarmaVision">
    </div>

    <a href="{% url 'facturacion:home' %}">
        <i class="fa-solid fa-staff-snake"></i>
        <span>FarmaVision</span>
    </a>

    <a href="{% url 'facturacion:ventas' %}">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Ventas</span>
    </a>

    <a href="{% url 'facturacion:inventario' %}">
        <i class="fa-solid fa-box"></i>
        <span>Inventario</span>
    </a>

    <a href="{% url 'facturacion:facturas' %}">
        <i class="fa-solid fa-file-invoice-dollar"></i>
        <span>Facturas</span>
    </a>

    <a href="{% url 'facturacion:usuarios' %}">
        <i class="fa-solid fa-users"></i>
        <span>Usuarios</span>
    </a>

    <div class="user-info">
        <img src="{% static 'images/usuario.jpeg' %}" alt="Usuario">
        <div class="user-text">
            <strong>Andrés Plazas</strong>
            <span>Administrador</span>
        </div>
    </div>
</nav>
