{% extends 'base.html' %}
{% load static %}

{% block title %} SISTEMA DE FACTURACION {% endblock %}
{% block content %}

<div class="sidebar">
    <a href="#" data-page="{% url 'facturacion:ventas' %}" class="active"><i class="fa-solid fa-cart-shopping"></i></a>
    <a href="#" data-page="{% url 'facturacion:inventario' %}"><i class="fa-solid fa-boxes-stacked"></i></a>
    <a href="#" data-page="{% url 'facturacion:facturas' %}"><i class="fa-solid fa-file-invoice-dollar"></i></a>
    <a href="#" data-page="{% url 'facturacion:usuarios' %}"><i class="fa-solid fa-user"></i></a>
</div>

<div class="main">
    <div class="topbar">
        <div class="left">
            <a href="#" data-page="{% url 'facturacion:ventas' %}" class="active">Ventas</a>
            <a href="#" data-page="{% url 'facturacion:inventario' %}">Inventario</a>
            <a href="#" data-page="{% url 'facturacion:facturas' %}">Facturas</a>
            <a href="#" data-page="{% url 'facturacion:usuarios' %}">Usuarios</a>
        </div>
        <div class="right">FarmaVision</div>
    </div>

    <div id="content">
    </div>
</div>

<script src="{% static 'js/javascrip.js' %}"></script>

{% endblock %}
