
/* ======= Contenido ======= */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

.contenedor {
    background-color: white;
    border: 2px solid #640ba7;
    border-radius: 12px;
    padding: 25px;
    width: 95%;
    max-width: 1100px;
    margin: 40px auto;
    justify-content: center;
}

h1 {
    color: #640ba7;
    text-align: center;
    margin-bottom: 25px;
}


/* ----- Buscador ----- */
.buscador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #58079c;
    border-radius: 8px 8px 0 0;
    padding: 5px;
}

.buscador-container input {
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.buscador-container button {
    background-color: #640ba7;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo para el botón de lupa */

.lupa button {
    position: absolute;
    background: url("icono lupa.png") no-repeat right center;
    background-size: 10px 10px;
    width: 40px;
    height: 60px;
    border: 20px solid black;
    cursor: pointer;
}


/* ======= Tabla ======= */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto 20px;
    min-height: 150px;
}

thead {
    background-color: #640ba7;
    color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
}

/* ======= Botones ======= */
.botones {
    text-align: center;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.cancelar {
    background-color: red;
    color: white;
    margin-right: 10px;
}

.agregar {
    background-color: green;
    color: white;
}

@media (max-width: 600px) {
    .contenedor {
        width: 95%;
        padding: 15px;
    }

    .formulario {
        flex-direction: column;
    }

    .formulario {
        align-items: flex-start;
    }
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .usuario {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 350px) {
    .buscador-container input {
        width: 80%;
    }
}

@media (max-width: 300px) {
    .buscador-container button {
        font-size: 16px;
    }
}