{% extends 'facturacion/base.html' %}
{% block title %}Crear usuario{% endblock %}

{% block content %}

<div class="caja-formulario">
    <h1>Crear usuario</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-campos">
            {{ form.as_p }}
        </div>
        <div class="btn btn-left" style="margin-top: 20px;">
            <button type="submit" class="btn-confirmar">Guardar</button>
        </div>
        <div class="volver-inventario">
            <a href="{% url 'facturacion:usuarios' %}">← Volver </a>
        </div>
    </form>
</div>

{% endblock %}