{% extends 'facturacion/base.html' %}
{% block title %}Eliminar usuario{% endblock %}

{% block content %}

<div class="caja-eliminar">
    <h1>Eliminar usuario</h1>

    <p class="texto-eliminar">
        ¿Estás seguro de que deseas eliminar <br>
        <strong>{{ usuario.nombre }}</strong>?
    </p>

    <form method="post" class="form-eliminar">
        {% csrf_token %}

        <a href="{% url 'facturacion:usuarios' %}" class="btn-cancelar-eliminar">
            Cancelar
        </a>

        <button type="submit" class="btn-confirmar-eliminar">
            Sí, eliminar
        </button>

    </form>
</div>

{% endblock %}