{% extends 'facturacion/base.html' %} {% load static %}

{% block title %}Facturas{% endblock %}

{% block content %}

<main class="contenedor-principal">

    <section class="buscador-fecha">
        <h3>Filtrar Facturas por Fecha</h3>
        <div class="filtro">
            <label for="fecha">Seleccione una fecha:</label>
            <input type="date" id="fecha" name="fecha">
            <button class="btn-buscar">Buscar</button>
        </div>
    </section>

    <!-- 🧾 CUADRO DE FACTURAS -->
    <section class="cuadro-facturas">
        <div class="contenedor-tabla">
            <h1>FACTURAS</h1>
            <table>
                <thead>
                    <tr>
                        <th>N°.F</th>
                        <th>Factura</th>
                        <th>Mostrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><span class="fecha">11 Apr 2030</span></td>
                        <td><button><i class="fa-solid fa-print"></i></button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><span class="fecha">18 Apr 2030</span></td>
                        <td><button><i class="fa-solid fa-print"></i></button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><span class="fecha">25 Apr 2030</span></td>
                        <td><button><i class="fa-solid fa-print"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

{% endblock %}