<div class="filtrar">
    <label for="filtrar">Filtrar</label>
        <select name="filtrar" id="filtrar">
        <option value="filtrar">mayor cantidad</option>
        <option value="filtrar">mas antiguo</option>
        <option value="filtrar">mas reciente</option>
        <option value="filtrar">menor cantidad</option>
        </select>
        </div>

    <section class="container">
        <button>Nuevo<i class="fa-solid fa-plus fa-2xl" style="color: #ffffff;"></i></button>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>precio</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Producto01</td>
                    <td>2</td>
                    <td>$</td>
                    <td>util</td>
                    <td>
                        <label for="opciones"></label>
                        <select name="opciones" id="opciones">
                            <option value="opciones">editar✏️</option>
                            <option value="opciones">eliminar🗑️</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Producto02</td>
                    <td>2</td>
                    <td>$</td>
                    <td>util</td>
                    <td>
                        <label for="opciones"></label>
                        <select name="opciones" id="opciones">
                            <option value="opciones">editar✏️</option>
                            <option value="opciones">eliminar🗑️</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Producto03</td>
                    <td>2</td>
                    <td>$</td>
                    <td>util</td>
                    <td>
                        <label for="opciones"></label>
                        <select name="opciones" id="opciones">
                            <option value="opciones">editar✏️</option>
                            <option value="opciones">eliminar🗑️</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>