{% extends 'facturacion/base.html' %}
{% load static %}

{% block title %}Inventario{% endblock %}

{% block content %}

<div class="caja-global">
    <h1>Inventario de Productos</h1>

    <div class="btn btn-left" style="margin-bottom: 20px;">
        <a href="{% url 'facturacion:crear_producto' %}" class="btn-confirmar">Nuevo</a>
    </div>

    <table class="tablas" id="tablaNotas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha vencimiento</th>
                <th>Opciones</th>
            </tr>
        </thead>

        <tbody>
            {% for it in producto %}
            <tr>
                <td>{{ it.nombre }}</td>
                <td>{{ it.stock }}</td>
                <td>${{ it.precio }}</td>
                <td>{{ it.f_vencimiento }}</td>

                <td class="opciones">
                    <a href="{% url 'facturacion:editar_producto' it.pk %}" class="btn-editar">Editar</a>
                    <a href="{% url 'facturacion:eliminar_producto' it.pk %}" class="btn-eliminar">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">
                    No hay productos en el inventario
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
