{% extends 'facturacion/base.html' %} {% load static %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farma Version.com</title>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="formulario">
        <h1>Crear tu nuevo usuario</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Ingrese su usuario</label>
            </div>

            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>

            <div class="username select-rol">
                <select id="rol" name="rol" required>
                    <option value="" disabled selected hidden>Seleccione su rol</option>
                    <option value="administrador">Administrador</option>

                    <option value="vendedor">Vendedor</option>
                </select>
            </div>
            <div class="recordar">Iniciar sesión</div>
            <input type="submit" value="Crear">
        </form>
    </div>
    </head>
<body>


{% endblock %}