{% extends 'facturacion/base.html' %}
{% load static %}

{% block title %}Nueva Venta{% endblock %}

{% block content %}
<div class="caja-ventas">
  <h1 style="text-align:center;">Ventas</h1>
  
  <!-- CLIENTE -->
  <div>
    <label>Cliente:</label>
    <select id="cliente" required>
      <option value="">-- Seleccione un cliente --</option>
      {% for c in clientes %}
        <option value="{{ c.id }}">{{ c.nombre }} - {{ c.n_documento }}</option>
      {% endfor %}
    </select>
  </div>

  

  <!-- MÉTODO DE PAGO -->
  <div style="margin-top: 10px;">
    <label>Método de pago:</label>
    <select id="formaPago" required>
      <option value="EFECTIVO">Efectivo</option>
      <option value="TRANSFERENCIA">Transferencia</option>
    </select>
  </div>

  <div style="margin-top: 15px;" class="buscador">
    <label>Agregar productos:</label>
    <input type="text" id="buscarProducto" placeholder="Buscar producto..." autocomplete="off">
    <button type="button" onclick="buscarProducto()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  
  <!-- Resultados de búsqueda -->
  <div class="lista-resultados" style="margin-top:10px;">
    <h3>Resultados de la búsqueda:</h3>
    <ul id="lista-resultados"></ul>
  </div>
  
 
  <select id="selectProducto" style="display: none;">
    {% for p in productos %}
      <option value="{{ p.id }}" data-precio="{{ p.precio }}" data-stock="{{ p.stock }}">
        {{ p.nombre }}
      </option>
    {% endfor %}
  </select>
  

  <div id="agregarArea" style="display:none; margin-top:10px;">
    <label>Producto seleccionado: <span id="selNombre"></span></label>
    <div>
      <label>Cantidad:</label>
      <input type="number" id="cantidad" min="1" value="1" style="width:80px;">
      <label>P. Unitario:</label>
      <input type="text" id="p_unitario" readonly style="width:100px;">
      <label>Total:</label>
      <input type="text" id="total" readonly style="width:120px;">
      <button type="button" id="agregarProducto">Agregar</button>
    </div>
  </div>
  
  <!-- TABLA DE PRODUCTOS SELECCIONADOS -->
  <table border="1" style="width:100%; margin-top:20px;">
    <thead>
      <tr>
        <th>Producto</th>
        <th>P. Unitario</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody id="grupoinputs"></tbody>
  </table>
  
  <!-- TOTAL -->
  <h3 style="margin-top:10px;">
    Total Venta: $ <span id="totalVenta">0.00</span>
  </h3>
  
  <!-- FORMULARIO -->
  <form id="formVenta" method="POST" class="btn">
    {% csrf_token %}
    <input type="hidden" name="data" id="dataVenta">
    
    <button type="submit" class="btn-confirmar">
      <i class="fa-solid fa-check"></i> Confirmar Venta
    </button>
    
    <button type="button" class="btn-limpiar" onclick="eliminarTodos()">
      <i class="fa-solid fa-broom"></i> Limpiar</button>
  </form>
  
  {% if messages %}
    <div class="messages" style="margin-top: 20px;">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

<script src="{% static 'js/ventas.js' %}"></script>
{% endblock %}
